<form [formGroup]="formGroup" (ngSubmit)="submit()">
  <header class="flex justify-between">
    <h2 mat-dialog-title>New entry</h2>
  </header>
  <mat-dialog-content>
    <section class="flex flex-col gap-2">
      <mat-radio-group
        formControlName="type"
        class="flex flex-row flex-wrap gap-4 items-start mt-2 mb-4"
      >
        @for (type of typeOptions; track type) {
          <mat-radio-button tabindex="-1" [value]="type" class="flex-1">{{
            type | titlecase
          }}</mat-radio-button>
        }
      </mat-radio-group>
      <mat-form-field hideRequiredMarker="true">
        <mat-label>Date</mat-label>
        <input
          name="date"
          [matDatepicker]="picker"
          matInput
          formControlName="date"
          id="date"
          required
        />
        <button
          mat-icon-button
          (click)="previousDay()"
          matSuffix
          matTooltip="Previous day"
          type="button"
          tabindex="-1"
        >
          <mat-icon>chevron_left</mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="nextDay()"
          matSuffix
          matTooltip="Next day"
          type="button"
          tabindex="-1"
        >
          <mat-icon>chevron_right</mat-icon>
        </button>
        <mat-datepicker-toggle
          matSuffix
          [for]="picker"
          matTooltip="Open date picker"
        />
        <mat-datepicker #picker />
        <mat-hint>DD.MM.YYYY</mat-hint>
        @if (date.invalid && (date.dirty || date.touched)) {
          <ng-container ngProjectAs="mat-error">
            @if (
              date.getError('required') && !date.getError('matDatepickerParse')
            ) {
              <mat-error>Date is required. </mat-error>
            }
            @if (date.getError('matDatepickerParse')) {
              <mat-error
                >"{{ date.getError('matDatepickerParse').text }}" is not a valid
                date!
              </mat-error>
            }
          </ng-container>
        }
      </mat-form-field>
      <div class="flex flex-wrap gap-4">
        <mat-form-field hideRequiredMarker="true" class="flex-1">
          <mat-label>Start Time</mat-label>
          <input
            required
            formControlName="start"
            matInput
            type="time"
            step="300"
          />
          <mat-hint>HH:mm</mat-hint>
          @if (start.getError('required')) {
            <mat-error>Start time is required.</mat-error>
          }
        </mat-form-field>
        <mat-form-field hideRequiredMarker="true" class="flex-1">
          <mat-label>End Time</mat-label>
          <input
            required
            formControlName="end"
            matInput
            type="time"
            step="300"
          />
          <mat-hint>HH:mm</mat-hint>
          @if (end.getError('required')) {
            <mat-error>End time is required.</mat-error>
          }
        </mat-form-field>
      </div>
      <mat-form-field hideRequiredMarker="true">
        <mat-label>Pause</mat-label>
        <input
          required
          formControlName="pause"
          matInput
          type="time"
          step="300"
        />
        <mat-hint>HH:mm</mat-hint>
        @if (pause.getError('required')) {
          <mat-error>Pause is required. </mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Notes</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize="true"
          formControlName="notes"
          (keydown.control.enter)="submit()"
        ></textarea>
      </mat-form-field>
    </section>
  </mat-dialog-content>
  <mat-dialog-actions align="end" class="!px-6 !pb-6">
    <button mat-flat-button [mat-dialog-close]="null">Cancel</button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="isFormInvalid$ | async"
    >
      {{ isEditMode ? 'Save' : 'Add' }}
    </button>
  </mat-dialog-actions>
</form>
