@use '@angular/material' as mat;

@include mat.all-component-typographies();
@include mat.core();

// Define a light theme
$light-primary: mat.m2-define-palette(mat.$m2-light-blue-palette);
$light-accent: mat.m2-define-palette(mat.$m2-purple-palette, A700, A200, A700);
$light-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $light-primary,
      accent: $light-accent,
    ),
    typography:
      mat.m2-define-typography-config(
        $font-family: 'Lato',
        $headline-6:
          mat.m2-define-typography-level(
            $font-family: 'Raleway',
            $font-weight: 300,
            $font-size: 1.5rem,
            $line-height: 1,
            $letter-spacing: normal,
          ),
        $button: mat.m2-define-typography-level(14px),
      ),
  )
);

// Define a dark theme
$dark-primary: mat.m2-define-palette(mat.$m2-light-blue-palette);
$dark-accent: mat.m2-define-palette(mat.$m2-purple-palette, A700, A200, A400);
$dark-theme: mat.m2-define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
    ),
    typography:
      mat.m2-define-typography-config(
        $font-family: 'Lato',
        $headline-6:
          mat.m2-define-typography-level(
            $font-family: 'Raleway',
            $font-weight: 300,
            $font-size: 1.5rem,
            $line-height: 1,
            $letter-spacing: normal,
          ),
        $button: mat.m2-define-typography-level(14px),
      ),
  )
);

// Apply the dark theme by default
@include mat.core-theme($dark-theme);
// Component themes
@include mat.button-theme($dark-theme);
@include mat.fab-theme($dark-theme);
@include mat.icon-button-theme($dark-theme);
@include mat.checkbox-theme($dark-theme);
@include mat.chips-theme($dark-theme);
@include mat.datepicker-theme($dark-theme);
@include mat.dialog-theme($dark-theme);
@include mat.select-theme($dark-theme);
@include mat.form-field-theme($dark-theme);
@include mat.list-theme($dark-theme);
@include mat.menu-theme($dark-theme);
@include mat.paginator-theme($dark-theme);
@include mat.radio-theme($dark-theme);
@include mat.sidenav-theme($dark-theme);
@include mat.snack-bar-theme($dark-theme);
@include mat.table-theme($dark-theme);
@include mat.toolbar-theme($dark-theme);
@include mat.tooltip-theme($dark-theme);

// Component specific typography
$chips-typography: mat.m2-define-typography-config(
  $font-family: 'Lato',
  $body-2:
    mat.m2-define-typography-level(
      $font-weight: 700,
      $font-size: 0.75rem,
      $line-height: 1,
    ),
);
$menu-typography: mat.m2-define-typography-config(
  $font-family: 'Lato',
  $body-1: mat.m2-define-typography-level(0.875rem),
);
$table-typography: mat.m2-define-typography-config(
  $font-family: 'Lato',
  $body-2:
    mat.m2-define-typography-level(
      $font-weight: 700,
      $font-size: 0.875rem,
    ),
  $subtitle-2: mat.m2-define-typography-level(0.75rem),
);
@include mat.chips-typography($chips-typography);
@include mat.menu-typography($menu-typography);
@include mat.table-typography($table-typography);

@media (prefers-color-scheme: light) {
  @include mat.core-color($light-theme);
  // Component colors
  @include mat.button-color($light-theme);
  @include mat.fab-color($light-theme);
  @include mat.icon-button-color($light-theme);
  @include mat.checkbox-color($light-theme);
  @include mat.chips-color($light-theme);
  @include mat.datepicker-color($light-theme);
  @include mat.dialog-color($light-theme);
  @include mat.form-field-color($light-theme);
  @include mat.list-color($light-theme);
  @include mat.menu-color($light-theme);
  @include mat.paginator-color($light-theme);
  @include mat.select-color($light-theme);
  @include mat.radio-color($light-theme);
  @include mat.sidenav-color($light-theme);
  @include mat.snack-bar-color($light-theme);
  @include mat.table-color($light-theme);
  @include mat.toolbar-color($light-theme);
  @include mat.tooltip-color($light-theme);
}
