@use '@angular/material' as mat;

// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
@include mat.all-legacy-component-typographies();
@include mat.legacy-core();

// Define a light theme
$light-primary: mat.define-palette(mat.$light-blue-palette);
$light-accent: mat.define-palette(mat.$purple-palette, A700, A200, A700);
$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $light-primary,
      accent: $light-accent,
    ),
    typograhpy:
      mat.define-legacy-typography-config(
        $font-family: 'Roboto Condensed',
      ),
  )
);

// Define a dark theme
$dark-primary: mat.define-palette(mat.$light-blue-palette);
$dark-accent: mat.define-palette(mat.$purple-palette, A700, A200, A400);
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
    ),
    typography:
      mat.define-legacy-typography-config(
        $font-family: 'Lato',
        $title:
          mat.define-typography-level(
            $font-family: 'Raleway',
            $font-weight: 300,
            $font-size: 1.5rem,
            $line-height: 1,
            $letter-spacing: normal,
          ),
      ),
  )
);

// Apply the dark theme by default
@include mat.legacy-core-theme($dark-theme);
// Component themes
@include mat.legacy-button-theme($dark-theme);
@include mat.legacy-checkbox-theme($dark-theme);
@include mat.legacy-chips-theme($dark-theme);
@include mat.datepicker-theme($dark-theme);
@include mat.legacy-dialog-theme($dark-theme);
@include mat.legacy-select-theme($dark-theme);
@include mat.legacy-form-field-theme($dark-theme);
@include mat.legacy-list-theme($dark-theme);
@include mat.legacy-menu-theme($dark-theme);
@include mat.legacy-paginator-theme($dark-theme);
@include mat.legacy-radio-theme($dark-theme);
@include mat.sidenav-theme($dark-theme);
@include mat.legacy-snack-bar-theme($dark-theme);
@include mat.legacy-table-theme($dark-theme);
@include mat.toolbar-theme($dark-theme);
@include mat.legacy-tooltip-theme($dark-theme);

// Component typography
@include mat.legacy-chips-typography(
  mat.define-legacy-typography-config(
    $body-2: mat.define-typography-level(12px, 12px, 500)
  )
);

@media (prefers-color-scheme: light) {
  @include mat.legacy-core-color($light-theme);
  // Component colors
  @include mat.legacy-button-color($light-theme);
  @include mat.legacy-checkbox-color($light-theme);
  @include mat.legacy-chips-color($light-theme);
  @include mat.datepicker-color($light-theme);
  @include mat.legacy-dialog-color($light-theme);
  @include mat.legacy-form-field-color($light-theme);
  @include mat.legacy-list-color($light-theme);
  @include mat.legacy-menu-color($light-theme);
  @include mat.legacy-paginator-color($light-theme);
  @include mat.legacy-radio-color($light-theme);
  @include mat.legacy-select-color($light-theme);
  @include mat.sidenav-color($light-theme);
  @include mat.legacy-snack-bar-color($light-theme);
  @include mat.legacy-table-color($light-theme);
  @include mat.toolbar-color($light-theme);
  @include mat.legacy-tooltip-color($light-theme);
}
