@use '@angular/material' as mat;

@include mat.core();

// Define a light theme
$light-primary: mat.define-palette(mat.$light-blue-palette);
$light-accent: mat.define-palette(mat.$purple-palette, A700, A200, A700);
$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $light-primary,
      accent: $light-accent,
    ),
    typograhpy:
    mat.define-typography-config(
      $font-family: 'Lato',
      $title:
        mat.define-typography-level(
          $font-family: 'Raleway',
          $font-weight: 300,
          $font-size: 1.5rem,
          $line-height: 1,
          $letter-spacing: normal,
        ),
    ),
  )
);

// Define a dark theme
$dark-primary: mat.define-palette(mat.$light-blue-palette);
$dark-accent: mat.define-palette(mat.$purple-palette, A700, A200, A400);
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
    ),
    typography:
      mat.define-typography-config(
        $font-family: 'Lato',
        $title:
          mat.define-typography-level(
            $font-family: 'Raleway',
            $font-weight: 300,
            $font-size: 1.5rem,
            $line-height: 1,
            $letter-spacing: normal,
          ),
      ),
  )
);

// Apply the light theme by default
@include mat.core-theme($light-theme);
// Component themes
@include mat.button-theme($light-theme);
@include mat.checkbox-theme($light-theme);
@include mat.chips-theme($light-theme);
@include mat.datepicker-theme($light-theme);
@include mat.dialog-theme($light-theme);
@include mat.select-theme($light-theme);
@include mat.form-field-theme($light-theme);
@include mat.list-theme($light-theme);
@include mat.menu-theme($light-theme);
@include mat.paginator-theme($light-theme);
@include mat.radio-theme($light-theme);
@include mat.sidenav-theme($light-theme);
@include mat.slide-toggle-theme($light-theme);
@include mat.snack-bar-theme($light-theme);
@include mat.table-theme($light-theme);
@include mat.toolbar-theme($light-theme);
@include mat.tooltip-theme($light-theme);

// Component typography
@include mat.chips-typography(
  mat.define-typography-config(
    $body-2: mat.define-typography-level(12px, 12px, 500)
  )
);

html.dark {
  @include mat.core-color($dark-theme);
  // Component colors
  @include mat.button-color($dark-theme);
  @include mat.checkbox-color($dark-theme);
  @include mat.chips-color($dark-theme);
  @include mat.datepicker-color($dark-theme);
  @include mat.dialog-color($dark-theme);
  @include mat.form-field-color($dark-theme);
  @include mat.list-color($dark-theme);
  @include mat.menu-color($dark-theme);
  @include mat.paginator-color($dark-theme);
  @include mat.radio-color($dark-theme);
  @include mat.select-color($dark-theme);
  @include mat.sidenav-color($dark-theme);
  @include mat.slide-toggle-color($dark-theme);
  @include mat.snack-bar-color($dark-theme);
  @include mat.table-color($dark-theme);
  @include mat.toolbar-color($dark-theme);
  @include mat.tooltip-color($dark-theme);
}
