@tailwind base;
@tailwind components;
@tailwind utilities;

@import './node_modules/angular-calendar/scss/angular-calendar';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

// Dark specific theming
html.dark {
  // Angular calendar
  $bg-dark-primary: #424242;
  $bg-dark-secondary: #555;
  $bg-active: #627583;
  $bg-event: #b0b0b0cc;
  $text-color: #d5d6d7;
  $border-color: rgb(0 0 0 / 60%);
  $weekend-color: #cb1e1e;

  @include cal-theme(
    (
      bg-primary: $bg-dark-primary,
      bg-secondary: $bg-dark-secondary,
      weekend-color: indianred,
      bg-active: $bg-active,
      border-color: $border-color,
      gray: $bg-dark-secondary,
      today-bg: $bg-dark-secondary,
      event-color-primary: $bg-dark-secondary,
      event-color-secondary: $bg-event,
    )
  );

  input[type='time']::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }
}
