@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
@import './node_modules/angular-calendar/scss/angular-calendar';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

body {
  $bg-dark-primary: #424242;
  $bg-dark-secondary: #555;
  $bg-active: #627583;
  $bg-event: #b0b0b0cc;
  $text-color: #d5d6d7;
  $border-color: rgb(0 0 0 / 60%);
  $weekend-color: #cb1e1e;

  color: $text-color;
  @include cal-theme(
    (
      bg-primary: $bg-dark-primary,
      bg-secondary: $bg-dark-secondary,
      weekend-color: indianred,
      bg-active: $bg-active,
      border-color: $border-color,
      gray: $bg-dark-secondary,
      today-bg: $bg-dark-secondary,
      event-color-primary: $bg-dark-secondary,
      event-color-secondary: $bg-event,
    )
  );
}
