@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../../../node_modules/angular-calendar/scss/angular-calendar';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  @apply bg-gradient-to-br from-gray-100 to-white dark:bg-gradient-to-br dark:from-stone-800 dark:to-stone-700;
}

h1,
h2,
h3,
h4 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

$scrollbar-size: 6px;

::-webkit-scrollbar {
  height: $scrollbar-size;
  width: $scrollbar-size;
  background: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background: #252323;
  //-webkit-border-radius: 1ex;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
  background: #424242;
}

// Dark specific theming
@media (prefers-color-scheme: dark) {
  // Angular calendar
  $bg-dark-primary: #424242;
  $bg-dark-secondary: #555;
  $bg-active: #627583;
  $bg-event: #b0b0b0cc;
  $text-color: #d5d6d7;
  $border-color: rgb(0 0 0 / 60%);
  $weekend-color: #cb1e1e;

  @include cal-theme(
    (
      bg-primary: $bg-dark-primary,
      bg-secondary: $bg-dark-secondary,
      weekend-color: indianred,
      bg-active: $bg-active,
      border-color: $border-color,
      gray: $bg-dark-secondary,
      today-bg: $bg-dark-secondary,
      event-color-primary: $bg-dark-secondary,
      event-color-secondary: $bg-event,
    )
  );

  input[type='time']::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }

  .mat-mdc-header-cell {
    color: #ffffffb3;
  }
}

/*
TODO check if still needed
button.mat-mdc-mini-fab .mat-icon {
  vertical-align: top;
}

th.mat-mdc-header-cell,
td.mat-mdc-cell {
  user-select: none;
}*/

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

// Style to fix the weird border with angular material and tailwind
.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field
  .mdc-notched-outline__notch {
  border-right-style: hidden;
}

.mat-mdc-input-element {
  box-shadow: none !important;
}

.mat-dialog-mobile {
  .mat-mdc-dialog-content {
    max-height: 80vh;
  }
}
