.sidenav-container {
  @apply h-full bg-transparent;
}

.sidenav {
  width: 150px;
  &.handset {
    @apply bg-transparent border-r-0;
  }
  .mat-toolbar {
    @apply bg-inherit;
  }
}

.nav-list-item {
  @apply flex flex-row sm:flex-col items-center gap-1 p-2 justify-center
  transition-colors duration-500 ease-in-out
  text-neutral-500 dark:text-neutral-400
  hover:text-black dark:hover:text-white;
  height: 80px;
  h4 {
    @apply hidden;
  }
  &.active {
    @apply dark:text-white text-black;
    h4 {
      @apply text-sm font-medium ml-2 sm:ml-0 sm:font-normal sm:text-base block uppercase;
      letter-spacing: 0.1em;
    }
  }
  &:hover {
    mat-icon {
      @apply animate-wiggle;
    }
  }
}
