<header><h2 matDialogTitle>Settings</h2></header>
<form [formGroup]="formGroup" (ngSubmit)="submit()">
  <main class="flex flex-col gap-2 sm:gap-0" matDialogContent>
    <div class="flex flex-row content-start items-center sm:gap-1">
      <h3 class="mb-2 text-lg">Default times</h3>
      <mat-icon
        class="text-sm"
        matTooltip="Insert your usual times here, to preset the form."
        matTooltipPosition="right"
        >info</mat-icon
      >
    </div>
    <div class="flex flex-wrap flex-row gap-2">
      <mat-form-field class="flex-1">
        <mat-label>Start</mat-label>
        <input formControlName="start" matInput step="300" type="time" />
      </mat-form-field>
      <mat-form-field class="flex-1">
        <mat-label>End</mat-label>
        <input formControlName="end" matInput step="300" type="time" />
      </mat-form-field>
      <mat-form-field class="flex-1">
        <mat-label>Pause</mat-label>
        <input formControlName="pause" matInput step="300" type="time" />
      </mat-form-field>
    </div>
    <h3 class="mb-2 text-lg">Working days</h3>
    <div
      class="flex flex-row sm:max-h-[140px] gap-4 sm:gap-2 flex-wrap sm:flex-nowrap"
    >
      <div class="flex flex-col flex-wrap flex-1" formGroupName="workDays">
        @for (day of weekDays; track day) {
          <mat-checkbox [formControlName]="day" [value]="day"
            >{{ day | titlecase }}
          </mat-checkbox>
        }
      </div>
      <div class="flex flex-col flex-1">
        <mat-form-field>
          <mat-label>Daily time</mat-label>
          <input
            formControlName="workTimePerDay"
            matInput
            step="300"
            type="time"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Vacation per year</mat-label>
          <input formControlName="vacationDaysPerYear" matInput type="number" />
        </mat-form-field>
      </div>
    </div>
    <h3 class="mb-2 sm:mt-4 text-lg">{{ lastYear }}</h3>
    <div class="flex flex-row flex-wrap sm:gap-2" formGroupName="previousYear">
      <mat-form-field class="flex-1">
        <mat-label>Overtime</mat-label>
        <input formControlName="overtime" matInput step="300" type="time" />
      </mat-form-field>
      <mat-form-field class="flex-1">
        <mat-label>Vacation days</mat-label>
        <input formControlName="vacationDays" matInput type="number" />
      </mat-form-field>
    </div>

    @for (previousYear of previousYears; track id; let id = $index) {
      <h3 class="mb-2 sm:mt-4 text-lg">{{ previousYear.year }}</h3>
      <div class="flex flex-row flex-wrap sm:gap-2">
        <mat-form-field class="flex-1">
          <mat-label>Overtime</mat-label>
          <input
            matInput
            disabled
            type="time"
            [value]="previousYear.overtime"
          />
        </mat-form-field>
        <mat-form-field class="flex-1">
          <mat-label>Vacation days</mat-label>
          <input
            matInput
            disabled
            type="number"
            [value]="previousYear.vacationDays"
          />
        </mat-form-field>
      </div>
    }
  </main>
  <footer align="end" class="!pb-6 !px-6" matDialogActions>
    <button [mat-dialog-close]="null" mat-flat-button type="button">
      Cancel
    </button>
    <button color="primary" mat-raised-button type="submit">Save</button>
  </footer>
</form>
