.chip-type {
  color: white;
  &.normal {
    background-color: #03a9f4;
  }
  &.vacation {
    @apply bg-green-500;
  }
  &.sick {
    @apply bg-red-500;
  }
  &.remote {
    @apply bg-orange-500;
  }
}
