<form [formGroup]="formGroup" (ngSubmit)="submit()">
  <header class="flex justify-between">
    <h2 mat-dialog-title>New entry</h2>
  </header>
  <main mat-dialog-content>
    <section class="flex flex-col gap-2">
      <mat-radio-group
        formControlName="type"
        class="flex flex-row flex-wrap gap-4 items-start mt-2 mb-4"
      >
        <mat-radio-button
          tabindex="-1"
          *ngFor="let type of typeOptions"
          [value]="type"
          class="flex-1"
          >{{ type | titlecase }}</mat-radio-button
        >
      </mat-radio-group>
      <mat-form-field hideRequiredMarker="true">
        <mat-label>Date</mat-label>
        <input
          name="date"
          [matDatepicker]="picker"
          matInput
          formControlName="date"
          id="date"
          required
        />
        <button
          mat-icon-button
          (click)="previousDay()"
          matSuffix
          matTooltip="Previous day"
          type="button"
          tabindex="-1"
        >
          <mat-icon>chevron_left</mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="nextDay()"
          matSuffix
          matTooltip="Next day"
          type="button"
          tabindex="-1"
        >
          <mat-icon>chevron_right</mat-icon>
        </button>
        <mat-datepicker-toggle
          matSuffix
          [for]="picker"
          matTooltip="Open date picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-hint>DD.MM.YYYY</mat-hint>
        <ng-container
          *ngIf="date?.invalid && (date?.dirty || date?.touched)"
          ngProjectAs="mat-error"
        >
          <mat-error
            *ngIf="
              date.getError('required') && !date.getError('matDatepickerParse')
            "
            >Date is required.
          </mat-error>
          <mat-error *ngIf="date.getError('matDatepickerParse')"
            >"{{ date.getError('matDatepickerParse').text }}" is not a valid
            date!
          </mat-error>
        </ng-container>
      </mat-form-field>
      <div class="flex flex-wrap gap-4">
        <mat-form-field hideRequiredMarker="true" class="flex-1">
          <mat-label>Start Time</mat-label>
          <input
            required
            formControlName="start"
            matInput
            type="time"
            step="300"
          />
          <mat-hint>HH:mm</mat-hint>
          <mat-error *ngIf="start?.getError('required')"
            >Start time is required.</mat-error
          >
        </mat-form-field>
        <mat-form-field hideRequiredMarker="true" class="flex-1">
          <mat-label>End Time</mat-label>
          <input
            required
            formControlName="end"
            matInput
            type="time"
            step="300"
          />
          <mat-hint>HH:mm</mat-hint>
          <mat-error *ngIf="end?.getError('required')"
            >End time is required.</mat-error
          >
        </mat-form-field>
      </div>
      <mat-form-field hideRequiredMarker="true">
        <mat-label>Pause</mat-label>
        <input
          required
          formControlName="pause"
          matInput
          type="time"
          step="300"
        />
        <mat-hint>HH:mm</mat-hint>
        <mat-error *ngIf="pause?.getError('required')"
          >Pause is required.
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Notes</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize="true"
          formControlName="notes"
          (keydown.control.enter)="submit()"
        ></textarea>
      </mat-form-field>
    </section>
  </main>
  <footer mat-dialog-actions class="float-right">
    <button mat-flat-button [mat-dialog-close]="null">Cancel</button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="isFormInvalid$ | async"
    >
      {{ isEditMode ? 'Save' : 'Add' }}
    </button>
  </footer>
</form>
