<header class="flex flex-row items-end">
  <h1 class="text-2xl font-medium mb-3 flex-1">
    {{ viewDate | calendarDate : 'weekViewTitle' : 'en' }}
  </h1>
  <div class="mb-2">
    <button
      [view]="'week'"
      [(viewDate)]="viewDate"
      mat-icon-button
      mwlCalendarPreviousView
    >
      <mat-icon>chevron_left</mat-icon>
    </button>
    <button [(viewDate)]="viewDate" mat-icon-button mwlCalendarToday>
      <mat-icon>event</mat-icon>
    </button>
    <button
      [view]="'week'"
      [(viewDate)]="viewDate"
      mat-icon-button
      mwlCalendarNextView
    >
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
</header>
<ng-container *ngIf="events$ | async as events">
  <mwl-calendar-week-view
    [viewDate]="viewDate"
    [events]="events"
    [dayStartHour]="8"
    [dayEndHour]="20"
    [weekStartsOn]="1"
    [excludeDays]="[0, 6]"
  >
  </mwl-calendar-week-view>
</ng-container>
