@if (tileDetails(); as data) {
  <div
    class="relative block rounded-xl px-4 py-6 shadow-xl"
    [ngClass]="data.colors ?? defaultBackground"
    [matTooltip]="data.tooltip ?? ''"
  >
    <div class="text-white flex justify-between items-center gap-4">
      <div class="whitespace-nowrap">
        <label class="text-gray-200">
          {{ data.title }}
        </label>
        <h2 class="mt-2">{{ data.value }}</h2>
      </div>
      <mat-icon>{{ data.icon }}</mat-icon>
    </div>
  </div>
}
