<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <div class="flex flex-col mt-4 mb-4 p-4 items-center text-3xl gap-2">
      <!--suppress RequiredAttributes -->
      <img
        alt="Logo"
        ngSrc="../../assets/icons/icon-144x144.png"
        height="72"
        width="72"
        priority
      />
    </div>
    <div class="flex flex-col gap-4">
      <a
        *ngFor="let item of navListItems"
        [routerLink]="item.link"
        routerLinkActive="active"
        class="nav-list-item"
      >
        <mat-icon matListIcon>{{ item.icon }}</mat-icon>
        <h4 class="font-semibold text-sm">{{ item.title }}</h4></a
      >
      <a (click)="openSettingsDialog()" class="nav-list-item cursor-pointer">
        <mat-icon matListIcon>settings</mat-icon>
        <h4 class="font-semibold">Settings</h4>
      </a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content
    class="bg-gradient-to-bl from-white to-gray-200 bg-fixed dark:from-stone-900 dark:to-stone-700 dark:bg-gradient-to-bl"
  >
    <mat-toolbar *ngIf="isHandset$ | async">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Time Tracker</span>
    </mat-toolbar>
    <main class="p-10">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
