<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <mat-list-item mat-list-item routerLink="/home" routerLinkActive=""
        ><mat-icon matListIcon>home</mat-icon>Home</mat-list-item
      >
      <a mat-list-item routerLink="/calendar"
        ><mat-icon matListIcon>calendar_month</mat-icon><span>Calendar</span></a
      >
      <a mat-list-item routerLink="/form"
        ><mat-icon matListIcon>upload</mat-icon>Export</a
      >
      <a mat-list-item routerLink="/settings"
        ><mat-icon matListIcon>settings</mat-icon>Settings</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content
    class="bg-gradient-to-bl from-white to-gray-200 bg-fixed dark:from-stone-900 dark:to-stone-700 dark:bg-gradient-to-bl"
  >
    <mat-toolbar *ngIf="isHandset$ | async">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Time Tracker</span>
    </mat-toolbar>
    <main class="p-10">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
