<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home" routerLinkActive=""
        ><mat-icon matListIcon>home</mat-icon> Home</a
      >
      <a mat-list-item routerLink="/export"
        ><mat-icon matListIcon>upload</mat-icon>Export</a
      >
      <a mat-list-item routerLink="/settings"
        ><mat-icon matListIcon>settings</mat-icon>Settings</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content
    class="bg-gradient-to-tr from-blue-500 to-teal-500 bg-fixed dark:from-stone-900 dark:to-stone-700 dark:bg-gradient-to-tr"
  >
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>time-tracker</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <main class="p-4">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
